


<div class="card my-2">
    <div class="card-header">  
      <h3>Profile</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="profileForm" class="form" role="form" autocomplete="off">
            <div class="form-group">
                <label for="inputName">Platform</label>
                <input type="text" class="form-control"  formControlName="platform" placeholder="Platform you are working">
            </div>
            <div class="form-group">
                <label for="inputEmail3">Role</label>
                <input type="text" class="form-control"  formControlName="role" placeholder="Current engaged role" >
            </div>
            <div class="form-group">
                <label for="inputPassword3">Company</label>
                <input type="text" class="form-control"  formControlName="company" placeholder="Present Company" >
            </div>
            <div class="form-group">
                <label for="inputPassword3">Telephone</label>
                <input type="number" class="form-control"  formControlName="telephone" placeholder="Telephone" >
            </div>
          
            <div class="form-group" *ngIf="!profileForm.valid; else other">
                <button type="submit" class="btn btn-success btn-lg float-right" (click)="submitForm()" disabled>Submit</button>
            </div>

            <ng-template #other>
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg float-right" (click)="submitForm()" >Submit</button>
            </div></ng-template>
        </form>
      </div>
  </div>