<nav class="navbar navbar-expand-sm backcolor navbar-dark fixed-top">
    <div class="container">
      <a href="" class="navbar-brand" style="margin-left:-13.5rem">LinkedIN</a>
      <input type="text" class="form-control mr-2" style="width:30%" id="search"  placeholder="Search for Friend">
      <ul class="navbar-nav">
              <li class="nav-item">
                <a [routerLink]="['/safe/center']" class="nav-link"><i class="fa fa-home"></i>
                  home</a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['/safe/network']"  class="nav-link"><i class="fa fa-child"></i>
                    Network</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Jobs</a>
                  </li>
                  <li class="nav-item">
                      <a [routerLink]="['/safe/profile']" class="nav-link"><i class="fa fa-user"></i>Profile</a>
                    </li>

                  
          </ul>
  
    </div>
  </nav>